.future{
    color: white;
    background-color: #77dd77;
    
}

.present{
    color:white;
    background-color: #ff6961;
}

.past{
    color: white;
    background-color: #d3d3d3;
}

.jumbotron{
    background:lightblue;
}

